* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.isLight {
  color: #0e0e0e;
  background-color: #f0f8ff;
}

.isDark {
  color: #f0f8ff;
  background-color: #292929;
}

.container {
  min-height: 100vh;

  .header {
    padding: 15px 15px 10px 25px;
    display: flex;
    justify-content: space-between;
    background-color: #508650;

    h2 {
      padding-left: 15px;
      font-size: 15pt;
    }
    .switchThemeBtn {
      width: 50px;
      height: 30px;
      border: none;
      border-radius: 20px;
      background-color: #29292969;
      .switchIcon {
        width: 20px;
        height: 20px;
      }
    }
    .navbar {
      width: 70px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .menu-icon {
        width: 35px;
        padding: 5px;
        border-radius: 20px;
        background-color: #29292969;
      }
      .navMenu {
        display: none;
      }
      .navMenu.active {
        margin: 0.6rem 8rem 0 0;
        padding: 5px;
        width: 60vw;
        display: block;
        list-style: none;
        font-size: 13pt;
        border-radius: 10px;
        background-color: #b9c9bb52;
        li {
          margin: 15px 0 10px 0;
          a {
            color: black;
            text-decoration: none;
          }
        }
      }
    }
  }

  .fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    transition: 0.4s;
  }
  .fixed-header-transition {
    transition: background-color 0.4s ease;
  }
  .fixed-header-background {
    background-color: #419241c0;
  }

  .myContainer {
    padding-top: 2rem;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eef3a759;

    .perfilImage {
      margin: 2rem 0 1rem 0;
      width: 210px;
      border: 3px outset #508650;
      border-radius: 100%;
      box-shadow: 5px 8px 5px rgba(0, 0, 0, 0.507);
    }
    #typing {
      margin-bottom: 1rem;
      font-size: 30pt;
      text-align: center;
      &::after {
        content: "|";
        margin-left: 5px;
        opacity: 1;
        animation: blink 0.9s infinite;
      }
      @keyframes blink {
        0%,
        100% {
          opacity: 1;
        }
        50% {
          opacity: 0;
        }
      }
    }
    .myContainerText {
      width: 90vw;
      text-align: center;
      font-size: 14pt;
    }
    .myContainerContacts {
      margin-top: 1rem;
      padding: 30px;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 45px;
      a {
        padding: 17px;
        width: 9rem;
        text-align: center;
        color: #0e0e0e;
        text-decoration: none;
        border: 2px solid black;
        border-radius: 10px;
      }
    }
    .cvDownload {
      padding: 17px;
      width: 13rem;
      text-align: center;
      border: 2px solid black;
      border-radius: 10px;
      a {
        text-decoration: none;
        color: #0e0e0e;
      }
    }
  }

  .aboutMeWrapper {
    margin-top: 2rem;
    padding: 15px;
  }
}
