.footer {
    padding-top: 30px;
    padding-bottom: 5rem;
    background-color: var(--preto);
}

.form-footer {
    padding: 20px;
}
.form-info, .form-mensagem {
    text-align: center;
}
label {
    line-height: 40px;
    font-weight: 400;
    color: var(--verde-claro);
}
input, textarea {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: var(--cinza-claro);
}
textarea {
    resize: none;
}
::placeholder {
    color: white;
}

.form-titulo::before {
    content: "Entre em";
    display: block;
    font-size: 0.2em;
    text-align: left;
    color: aliceblue;
    padding-left: 40px;
}
.form-titulo::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 130px;
    height: 4px;
    background-color: var(--verde-claro);
}

.form-mensagem {
    margin-bottom: 1rem;
}

.botao-footer {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    color: var(--verde-escuro);
    background-color: var(--verde-claro);
}