/*[VARIÁVEIS DE COR E FONTE]*/
:root{
  --verde-escuro: #00701F;
  --verde-claro: #A3FFBD;
  --verde-militar: #424F46;
  --cinza: #3f3f3f;
  --cinza-claro: #868686;
  --preto: #020202;
  --preto-claro: #1B1B1B;
  --branco: #dfdfdf;
  --branco-escuro: #cecece;
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

/*[ESTILIZAÇÃO BARRA DE SCROLL]*/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--cinza-claro);
}
::-webkit-scrollbar-thumb {
  background: var(--verde-claro);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--verde-escuro);
}

/*[FORMATAÇÃO PADRÃO]*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  font-weight: 300;
  color: var(--branco);
}
html {
  scroll-behavior: smooth;
  background-color: var(--preto);
}
.container {
  height: 100vh;
}

/*[TÍTULOS DE SESSÃO]*/
h2 {
  position: relative;
  margin-bottom: 2rem;
  padding: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 64px;
  color: var(--verde-claro);
}

/*[TRANSIÇÃO]*/
.header, .menu-header, .sessao-home, .home-imagem {
  transition: 0.4s;
}

/*[ABERTURA NO LOADING DA PÁGINA]*/
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}
.fade-in.start {
  opacity: 1;
  transform: translateY(0);
}

/*[ANIMAÇÃO DA SOMBRA NA FOTO]*/
@keyframes pulso {
  0%, 100% {
    box-shadow: 18px 18px 1px var(--verde-escuro);
  }
  50% {
    box-shadow: 20px 20px 5px var(--verde-escuro);
  }
}
.pulsar-sombra {
  display: inline-block;
    animation: pulso 3.5s infinite;
}

/*[ANIMAÇÃO DA MÃOZINHA]*/
@keyframes ula {
  0% {
      transform: rotate(10deg);
  }
  25% {
      transform: rotate(13deg);
  }
  50% {
      transform: rotate(15deg);
  }
  75% {
      transform: rotate(-13deg);
  }
  100% {
      transform: rotate(10deg);
  }
}
.home-titulo .maozinha {
  display: inline-block;
  animation: ula 1.4s infinite;
  transform-origin: 70% 70%;
}
