.sessao-projetos {
    min-height: 100vh;
    padding-bottom: 5rem;
    padding-top: 30px;
    background-color: var(--preto-claro);
}

.projeto-titulo::before {
    content: "Destaque";
    display: block;
    font-size: 0.2em;
    text-align: left;
    color: aliceblue;
    padding-left: 50px;
}
.projeto-titulo::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 130px;
    height: 4px;
    background-color: var(--verde-claro);
}

.container-cards {
    margin-top: 3rem;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.card-projetos {
    max-width: 320px;
    min-height: 400px;
    padding: 10px;
    border-radius: 30px;
    overflow: hidden;
    background-color: var(--cinza);
}

.card-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h3 {
    position: relative;
    padding: 10px;
    padding-bottom: 10px;
    font-size: 24px;
    color: var(--verde-claro);
}
h3::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 60%;
    width: 100px;
    height: 2px;
    background-color: var(--verde-claro);
}

.card-imagem-container {
    position: relative;
    overflow: hidden;
}

.tech-icons-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: radial-gradient(
        circle,
        #00000088 10%,
        #00000000 50%
    );
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: auto;
}
.card-imagem-container:hover .tech-icons-container {
    opacity: 1;
}

.tech-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
    filter: drop-shadow(0 0 4px #ffffffa1);
    transition: transform 0.3s ease;
    pointer-events: auto;
}
.tech-icon:hover {
    transform: scale(1.2);
}

.card-imagem {
    margin: 1rem;
    border-radius: 5px;
}
.card-imagem {
    transition: filter 0.3s ease;
}
.card-imagem:hover {
    opacity: 1;
    filter: blur(5px);
}
.card-descricao {
    min-height: 90px;
    padding: 10px;
    text-align: center;
    word-wrap: break-word;
}
.card-botoes {
    height: 90px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
}

.card-botoes a {
    padding: 10px 15px 10px 15px;
    border: none;
    border-radius: 10px;
    color: var(--verde-escuro);
    font-weight: 600;
    text-decoration: none;
    background-color: var(--verde-claro);
}
