
/*=====.:[TABLETS]:.=====*/
@media (min-width: 600px) {
    #trocarTema {
        left: 85%;
    }

    .projeto-titulo::before, .form-titulo::before {
        content: "Destaque";
        max-width: 300px;
        display: block;
        font-size: 0.2em;
        text-align: left;
        color: aliceblue;
        padding-left: 20%;
    }
    .form-titulo::before {
        content: "Entre em";
    }
}

@media (min-width: 720px) {
    #trocarTema {
        left: 90%;
    }

    .projeto-titulo::before, .form-titulo::before {
        content: "Destaque";
        max-width: 100vw;
        display: block;
        font-size: 0.2em;
        text-align: left;
        color: aliceblue;
        padding-left: 30%;
    }
    .form-titulo::before {
        content: "Entre em";
    }
}

@media (min-width: 850px) {
    .footer {
        max-width: 850px;
        margin: 0 auto;
    }
}

/*=====.:[COMPUTADORES]:.=====*/
@media (min-width: 950px) {
    #trocarTema {
        left: 25px;
    }
    /*[MENU]*/
    .menu-header {
        flex-direction: row;
    }
    .menu-botoes {
        justify-content: end;
    }
    .botao-menu {
        cursor: pointer;
        transition: 0.4s;
    }
    .botao-menu:hover {
        transition: 0.4s;
        color: var(--verde-claro);
        font-weight: 600;
    }

    /*[RESUMO/HOME]*/
    .sessao-home {
        height: 100vh;
        padding-top: 5rem;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        background: linear-gradient(to right, var(--preto) 70%, var(--cinza)25%);
    }
    .home-texto {
        width: 60%;
        text-align: start;
    }
    .home-titulo, .home-descricao, .home-icones-redes {
        padding-left: 4rem;
    }
    .home-nome {
        margin: 0.5rem 0 0.5rem -10px;
        line-height: 5rem;
        font-size: 35pt;
    }
    .home-descricao {
        max-width: 750px;
        font-size: 16pt;
    }
    .home-descricao-redes {
        padding: 0;
        margin-top: 1rem;
    }
    .home-icones-redes {
        justify-content: start;
        gap: 15px;
    }
    
    .home-imagem {
        width: 60%;
        height: 450px;
        background-color: transparent;
    }
    .imagem-perfil {
        width: 450px;
        height: 450px;
    }

    /*[PROJETOS]*/
    .sessao-projetos {
        min-height: 100vh;
    }
    .container-cards{
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 5rem;
    }
    .projeto-titulo::before {
        text-align: left;
        padding-left: 10px;
    }
    .projeto-titulo {
        margin-left: 2rem;
        text-align: start;
    }
    .projeto-titulo::after {
        left: 9%;
    }
    .botoes-card, .botao-footer {
        cursor: pointer;
        transition: 0.3s;
    }
    .botoes-card:hover, .botao-footer:hover {
        color: var(--verde-claro);
        background-color: var(--verde-militar);
    }

    /*[FOOTER]*/
    .footer {
        max-width: 100%;
    }
    .form-titulo::before {
        text-align: left;
        padding-left: 10px;
    }
    .form-titulo {
        margin-left: 2rem;
        text-align: start;
    }
    .form-titulo::after {
        left: 9%;
    }
    .contato-nome, .contato-email {
        width: 30%;
    }
    .form-info, .form-mensagem {
        margin-left: 3rem;
        text-align: left;
    }
    .form-info {
        display: flex;
        gap: 25px;
    }
    .form-mensagem {
        width: 60%;
    }
    textarea {
        height: 130px;
    }
    .botao-footer {
        width: 90px;
        margin-left: 3rem;
    }
}
