* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container {
  height: 100vh;
  color: #141414;
  background-color: #f9f9f9;
}

/*==============================[HEADER]==============================*/

.header {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #dce9f5;
}

.logoHeader {
  margin-bottom: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  padding: 1rem;
  font-size: 19pt;
}

.navbar {
  display: flex;
  justify-content: end;
  width: 5rem;
}

/*=============================[SESSÃO DE RESUMO]=============================*/

.pictureContainer {
  margin: 1rem auto;
  width: 200px;
  height: 200px;
}

.profilePic {
  width: 200px;
  border-radius: 50%;
}

.texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.mainTitle {
  margin: 1rem;
}
.mainTitle::after {
  content: "|";
  margin: 5px;
  opacity: 1;
  animation: blink 0.9s infinite;
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.iconsContainer {
  margin: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

/*=============================[SESSÃO DO CARROSEL]=============================*/
