
:root{
  --verde-escuro: #00701F;
  --verde-claro: #A3FFBD;
  --cinza: #3f3f3f;
  --cinza-claro: #868686;
  --preto: #020202;
  --preto-claro: #1B1B1B;
  --branco: #F4F4F4;
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  font-weight: 300;
  color: var(--branco);
}

html {
  scroll-behavior: smooth;
}

.container {
  height: 100vh;
}

h2 {
  position: relative;
  margin-bottom: 2rem;
  padding: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 64px;
  color: var(--verde-claro);
}
