.header {
    width: 100%;
    padding: 10px;
    position: fixed;
    z-index: 1000;
    transition: background-color 0.3s ease;
    background-color: var(--preto);
}

.menu-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.menu-logo {
    max-width: 200px;
    margin: 1rem;
}

.menu-botoes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
.menu-botoes a {
    width: 180px;
    padding: 10px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
