
#trocarTema {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11pt;
  cursor: pointer;
  z-index: 1000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.tema-claro {
  .header {
    background-color: var(--branco-escuro);
  }
  .menu-botoes a {
    color: var(--preto);
  }
  .sessao-home, .home-imagem, .home-titulo, h1 span {
    background-color: var(--branco-escuro);
  }
  .home-descricao p, h1 {
    color: var(--preto);
  }
  .home-nome {
    color: var(--verde-escuro);
  }
  .sessao-projetos {
    background-color: var(--cinza);
  }

  @media (min-width: 950px){
    .sessao-home{
      background: linear-gradient(to right, var(--branco) 70%, var(--preto)25%);
    }
  }
}
