.tema-claro {
  color: #f4f4f4;
  background-color: #202020;

  .header {
    justify-content: space-between;
    background-color: #12263a;
  }
  .logoEscuro {
    display: block;
  }

  .buttonMenu {
    color: white;
  }
  .menu {
    background-color: #12263af6;
  }
  .menuElements {
    color: #da4900;
    transition: 0.5s;
  }
  .menuElements span {
    color: #f4f4f4;
    font-weight: 300;
    transition: 0.5s;
  }

  .card {
    color: #202020;
    background-color: #f4f4f486;
  }
  .card p {
    font-weight: 300;
  }
}
